@font-face {
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
}

body {
	display: flex;
	justify-content: center;
	padding-left: 30px; 
	padding-right: 30px;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.container {
	max-width: 1200px;
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;	
}

header h1 {
	border-bottom: 1.6px solid #77a466;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 20px;
	width: 100%;
}

header h1 span {
	color: #77a466;
}

header nav ul li {
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 0.875em;
	color: #77a466;
	list-style: none;
	padding-bottom: 20px;
	margin-right: 12px;
	width: 100%;
}

header nav ul li a {
	text-decoration: none;
	color: #77a466;
}

.main-image {
	height: auto;
}

.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

h3 {
	color: #77a466;
	font-size: 0.95em;
	text-transform: uppercase;
}

h4 {
	font-size: 0.75em;
	text-transform: uppercase;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em;
}

footer {
	text-align: center;
	border-top: 3px solid #eee;
}

footer span {
	font-family: 'wisdom-script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	color: #77a466;
	padding: 10px 0;
}

.section-one,
.section-two,
.section-three {
	border-top: 1.6px dotted #eee;
}

/* ---------- MEDIA QUERIES ---------- */

/* ----------- TABLETS ---------- */

@media all and (min-width: 768px) {
	header {
		width: 100%;
	}
	.bottom-section {
		margin: 0 auto;
		clear: both;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		border-top: 1.6px dotted #eee;
		border-bottom: 3.2px solid #eee;
	}

	.section-one,
	.section-two,
	.section-three {
		flex-basis: 33%;
	}

	.section-two {
		border-left: 1.6px dotted #eee;
		border-right: 1.6px dotted #eee;
		padding-left: 12px;
	}

	.section-three {
		padding-left: 10px;
	}

	footer {
		border-top: none;
	}
}

/* ---------- DESKTOP ---------- */

@media all and (min-width: 1200px) {
	header {
		justify-content: space-between;
		}

	header h1 {
		border-bottom: none;
		text-align: left;
		flex-basis: 30%;
	}

	header nav {
		flex-basis: 40%;
		align-items: center;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
	}

	.bottom-section {
		margin: 0 auto;
		clear: both;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		border-top: 1px dotted #eee;
	}

	.section-one,
	.section-two,
	.section-three {
		flex-basis: 33%;
	}

	.bottom-section {
		border-bottom: 3.2px solid #eee;
	}

}
